.btn-orange {
  background-color: rgba(106, 42, 141, 0.428);
  font-weight: 600;
  border-color: rgba(106, 42, 141, 0.428);
  border-width: 1px;
  color: white;
}

.btn-orange:hover {
  background-color: rgba(106, 42, 141, 0.428);
  color: white;
}

.btn-orange:focus {
  color: aqua;
}

a {
  color: white;
  text-decoration: none !important;
}

.dropdown-menu {
  background-color: #f3f7f9;
  margin-left: 10px;
}

.dropdown-item {
  font-weight: 600;
  border-radius: 7px;
  width: 180px;
  font-weight: 500;
  color: rgb(13, 12, 12);
  background-color: #e7eff3;
}

.dropdown-item:hover {
  font-weight: 600;
  font-size: 17px;
  border: rgb(0, 89, 255) 2px solid !important;
  border-radius: 5px;
  background-color: #61b1e7;
  color: rgb(9, 11, 11);
}
